@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 400;
 src: local("나눔바른고딕"),
      url('../fonts/NanumBarunGothicSubset.woff2') format('woff2'),
      url('../fonts/NanumBarunGothicSubset.woff') format('woff');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 700;
 src: local("나눔바른고딕 Bold"),
      url('../fonts/NanumBarunGothicBoldSubset.woff2') format('woff2'),
      url('../fonts/NanumBarunGothicBoldSubset.woff') format('woff');
}

$font: 'NanumBarunGothic', 'AppleSDGothicNeo-Regular', sans-serif;
