
@import "../scss/font.scss";
@import "../scss/reset.scss";

$device: 960;
$colorDefault_1: #363636; // black
$colorDefault_2: #fff; // white
$colorPoint_1: #ec008c; // pink
$colorPoint_2: #ffff6b; // yellow 
$imgStampTaken: "../images/img_stamp_taken.webp";
$imgStampComplete: "../images/img_stamp_complete.webp";

@function size($n){
  @return calc($n/$device * 100vw);
}


body {
  letter-spacing:size(0.2);
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.background {
  width:100%;
  position:absolute;
  top:0;
  left:0;
}

.event_wrap {
  background-image:url("../images/background.webp");
  background-size:cover;
  background-position:top center;
  padding-top:size(400);
  height:size(4490);
}

.section {
  position:relative;
  width: size(762);
  margin:0 auto;
  .event_title {
    display:flex;
    justify-content:center;
    align-items: center;
    height:size(110);
    color:#4e49f1;
    font-size:size(32);
    font-weight:700;
    text-align:center;
  }
  .event_text {
    font-size:size(20);
    line-height:size(26);
    text-align:center;
    padding-top:size(28);
    color: $colorDefault_1;
    font-weight:400;
    span {
      color:$colorPoint_1;
      font-weight:700;
    }
  }
  .event_notice {
    width:size(820);
    margin:0 auto;
    li {
      font-size:size(20);
      color: $colorDefault_2;
      line-height:size(26);
      margin-left:size(13);
      font-weight:400;
      &::before {
        content:'* ';
        margin-left:- size(13);
      }
      &:last-child {
        &::before {
          display:none;
        }
        margin-left:0;
      }
    }
  }
  .stamp_taken, .stamp_complete {
    &.ani {
      &::after {
        opacity:1;
        transform:translate(-50%, -50%) scale(1);
      }
    }
    &::after {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%) scale(1.8);
      background-repeat: no-repeat;
      background-size:contain;
      opacity:0;
      transition-duration:0.5s;
      transition-property:transform, opacity;
      transition-timing-function: cubic-bezier(.37,0,1,.63);
    }
  }
  &.step1 {
    height:size(1050);
    .item1, .item2 {
      font-size:size(20);
      color:$colorDefault_2;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align:center;
      width:size(360);
      position:absolute;
      top:size(720);
    }
    .item1 {
      left:0;
    }
    .item2 {
      right:0;
    }
    .arrow {
      font-size:size(20);
      color:$colorDefault_2;
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      top:size(587);
    }
    .badge {
      font-size:size(20);
      color:$colorPoint_2;
      position:absolute; 
      top:size(436);
      text-align:center;
      right:size(8);
    }
    .event_notice {
      position:absolute;
      top:size(830);
    }
  }
  &.step2 {
    height:size(1153);
    .ticket {
      text-align:center;
      font-weight:700;
      position:absolute;
      top:size(410);
      left:size(180);
      dt {
        font-size:size(20);
        color:$colorDefault_1;
        line-height:size(26);
        margin-bottom:size(14);
      }
      dd {
        font-size:size(38);
        color:$colorPoint_2;
      }
    }
    .slide {
      width:size(205);
      position:absolute;
      top:size(380);
      left:size(410);
    }
    @keyframes penguinSlide {
      0% {
        top: size(352);
        left: size(500);
      }
      100% {
        top: size(510);
        left:size(390);
      }
    }
    .penguin {
      width:size(100);
      position:absolute;
      top:size(352);
      left:size(500);
      &.ani {
        animation-name: penguinSlide;
        animation-duration: 1.2s;
        animation-iteration-count: 1;
        animation-fill-mode:forwards;
        animation-timing-function: ease-in-out;
      }
    }
    .event_mission {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      width:size(760);
      position:absolute;
      top:size(639);
      left:0;
      li {
        display:flex;
        width: size(372);
        height: size(104);
        margin-bottom:size(14);
        .number {
          display:flex;
          align-items:flex-end;
          justify-content: center;
          width:size(103);
          height:100%;
          text-align:center;
          padding-bottom:size(7);
          font-size:size(20);
          color:$colorDefault_1;
          position:relative;
          &.stamp_taken, &.stamp_complete  {
            &::after {
              content:'';
              display:block;
              width:size(83);
              height:size(83);
            }
          }
          &.stamp_taken {
            &::after {
              background-image:url($imgStampTaken);
            }
          }
          &.stamp_complete {
            &::after {
              background-image:url($imgStampComplete);
            }
          }          
        }
        .content {
          display:flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width:size(268);
          height:100%;
          text-align:center;
          font-size:size(20);
          line-height:size(26);
          color:$colorDefault_2;
          .count {
            display:block;
            color:$colorPoint_2;
          }
        }
      }
    }
  }
  &.step_event {
    height:size(766);
    .event_title {
      font-size:size(28);
      line-height:size(36);
      color:$colorPoint_2;
    }
    .gauge_box {
      height:size(66);
      margin:size(30) auto 0 auto;
      background-color:#6e66a4;
      border:size(2) solid #5c4fab;
      border-radius:size(33);
      position:relative;
      .gauge_score {
        display:flex;
        width:100%;
        margin:size(69) 0 0 0;
        color:$colorDefault_1;
        li {
          text-align:right;
          width:14.2857%;
          font-size:size(20);
          padding-right:size(2);
          font-weight:700;
        }
      }
      .gauge {
        display:block;
        height:100%;
        border-radius:size(33);
        background:linear-gradient(90deg,rgba(63, 187, 254, 1) 0%, rgba(164, 66, 255, 1) 100%);
        position:absolute;
        left:0;
        top:0;
        border:size(2) solid #fff;
        width:0;
        transition:width 1.4s;
        &.remove {
          background:none;
          border:0;
          &::after {
            display:none;
          }
        }
        &::after {
          content:'';
          display:block;
          width:size(51);
          height:size(62);
          background-image:url('../images/img_penguin.webp');
          background-size:contain;
          background-repeat: no-repeat;
          transform:translateY(-50%) scaleX(-1);
          position:absolute;
          top:50%;
          right:- size(8);
        }
      }
    }    
    .event_items {
      margin:size(52) auto 0 auto;
      display:flex;
      li {
        display:flex;
        align-items: flex-end;
        justify-content: center;
        width:size(101);
        height:size(136);
        text-align:center;
        font-size:size(20);
        padding-bottom:size(10);
        color:#000;
        &:not(:last-child) {
          margin-right:size(9);
        }
        &.stamp_taken, &.stamp_complete {
          position:relative;
          &::after {
            content:'';
            display:block;
            width:size(87);
            height:size(87);
            margin-top:- size(10);
          }
        }
        &.stamp_taken {
          &::after {
            background-image:url($imgStampTaken);
          }
        }
        &.stamp_complete {
          &::after {
            background-image:url($imgStampComplete);
          }
        }        
      }
    }
    .prize {
      font-size:size(22);
      color:$colorPoint_1;
      text-align:right;
      margin: size(20) size(66) 0 0;
    }
    .event_notice {
      position:absolute;
      top:size(543);
      left:0;
    }
  }
  &.step3 {
    height:size(1050);
    .event_channel_title {
      font-size:size(20);
      font-weight:700;
      text-align:center;
      color:$colorDefault_2;
      text-shadow:0 size(4) size(2) rgba(0,0,0,0.6);
      margin:size(32) 0 0 0;
    }
    @keyframes radar {
      0% {
        transform:rotate(-4deg);
      }
      100% {
        transform:rotate(4deg);
      }
    }
    .event_button {
      display:flex;
      align-items: center;
      justify-content: center;
      width:size(352);
      height:size(84);
      background-image:url("../images/img_event_button.webp");
      background-size:contain;
      background-repeat: no-repeat;
      margin:size(203) auto 0 auto;
      position:relative;
      font-size:size(20);
      line-height: size(26);
      font-weight:700;
      color:$colorDefault_1;
      text-align:center;
      padding-left:size(38);
      transform:translateY(size(20));
      opacity:0;
      &.ani {
        opacity:1;
        transition-property: opacity, transform;
        transition-duration: 0.8s;
        transform:translateY(0);
      }
      img {
        position:absolute;
        bottom:size(20);
        left:- size(6);
        width:size(86);
        height:size(85);
        transform-origin: right bottom;
        animation-name:radar;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .event_mission {
      width:100%;
      display:flex;
      justify-content: space-between;
      position:absolute;
      top:size(577);
      left:0;
      li {
        width: size(240);
        font-size: size(20);
        text-align:center;
        .title {
          display:flex;
          justify-content: center;
          align-items: center;
          height:size(70);
          color:$colorDefault_2;
          line-height:size(26);
        }
        .count, > div {
          height:size(114);
          color:$colorDefault_1;
        }  
        .count {
          display:flex;
          align-items: center;
          justify-content: center;
          color:$colorDefault_1;
          span {
            color:$colorPoint_1;
          }
        }
        .stamp_taken, .stamp_complete {
          display:block;
          position:relative;
          &::after {
            content:'';
            display:block;
            width:size(103);
            height:size(103);
          } 
        }
        .stamp_taken {
          &::after {
            background-image:url($imgStampTaken);
          }
        }
        .stamp_complete {
          &::after {
            background-image:url($imgStampComplete);
          }
        } 
      }
    }
    .event_notice {
      position:absolute;
      top:size(818);
      left:0;
    }
  }
}

.side_navigation {
  position:fixed;
  top:size(87);
  right:0;
  ul {
    li {
      a {
        display:flex;
        justify-content: center;
        align-items: center;
        border:size(2) solid #fff;
        width:size(48);
        height:size(48);
        color:#fff;
        font-size:size(21);
        box-sizing:border-box;
        text-align:center;
        font-weight:700;
        box-shadow:0 size(4) size(8) rgba(0, 0, 0, 0.5);
      }
      &:not(:last-child){
        margin-bottom:size(8);
      }
      &:not(:first-child){
        a {
          background: linear-gradient(180deg, #b452fb, #315fdd 100%);
        }
      }
      &:nth-of-type(1){
        a {
          background: linear-gradient(180deg,#F26B74 0%, #AD52F7 100%);
        }
      }
    }
  }
}

.footer {
  display:flex;
  align-items: center;
  width:size(867);
  height:size(74);
  margin:0 auto;
  padding-left:size(58);
  font-size:size(20);
  color:#85b5ff;
  line-height:size(26);
  a {
    flex:none;
  }
}